<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unit.dao1.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.unit.domain.SysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_super_id" jdbcType="INTEGER" property="menuSuperId" />
    <result column="menu_status" jdbcType="INTEGER" property="menuStatus" />
    <result column="menu_sort" jdbcType="INTEGER" property="menuSort" />
    <result column="menu_name" jdbcType="CHAR" property="menuName" />
    <result column="menu_icon_url" jdbcType="CHAR" property="menuIconUrl" />
    <result column="menu_url" jdbcType="CHAR" property="menuUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_super_id, menu_status, menu_sort, menu_name, menu_icon_url, menu_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unit.domain.SysMenu">
    insert into sys_menu (id, menu_super_id, menu_status, 
      menu_sort, menu_name, menu_icon_url, 
      menu_url)
    values (#{id,jdbcType=INTEGER}, #{menuSuperId,jdbcType=INTEGER}, #{menuStatus,jdbcType=INTEGER}, 
      #{menuSort,jdbcType=INTEGER}, #{menuName,jdbcType=CHAR}, #{menuIconUrl,jdbcType=CHAR}, 
      #{menuUrl,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuSuperId != null">
        menu_super_id,
      </if>
      <if test="menuStatus != null">
        menu_status,
      </if>
      <if test="menuSort != null">
        menu_sort,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuIconUrl != null">
        menu_icon_url,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuSuperId != null">
        #{menuSuperId,jdbcType=INTEGER},
      </if>
      <if test="menuStatus != null">
        #{menuStatus,jdbcType=INTEGER},
      </if>
      <if test="menuSort != null">
        #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=CHAR},
      </if>
      <if test="menuIconUrl != null">
        #{menuIconUrl,jdbcType=CHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.SysMenu">
    update sys_menu
    <set>
      <if test="menuSuperId != null">
        menu_super_id = #{menuSuperId,jdbcType=INTEGER},
      </if>
      <if test="menuStatus != null">
        menu_status = #{menuStatus,jdbcType=INTEGER},
      </if>
      <if test="menuSort != null">
        menu_sort = #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=CHAR},
      </if>
      <if test="menuIconUrl != null">
        menu_icon_url = #{menuIconUrl,jdbcType=CHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unit.domain.SysMenu">
    update sys_menu
    set menu_super_id = #{menuSuperId,jdbcType=INTEGER},
      menu_status = #{menuStatus,jdbcType=INTEGER},
      menu_sort = #{menuSort,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=CHAR},
      menu_icon_url = #{menuIconUrl,jdbcType=CHAR},
      menu_url = #{menuUrl,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.unit.domain.SysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_super_id" jdbcType="INTEGER" property="menuSuperId" />
    <result column="menu_status" jdbcType="INTEGER" property="menuStatus" />
    <result column="menu_sort" jdbcType="INTEGER" property="menuSort" />
    <result column="menu_name" jdbcType="CHAR" property="menuName" />
    <result column="menu_icon_url" jdbcType="CHAR" property="menuIconUrl" />
    <result column="menu_url" jdbcType="CHAR" property="menuUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_super_id, menu_status, menu_sort, menu_name, menu_icon_url, menu_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unit.domain.SysMenu">
    insert into sys_menu (id, menu_super_id, menu_status, 
      menu_sort, menu_name, menu_icon_url, 
      menu_url)
    values (#{id,jdbcType=INTEGER}, #{menuSuperId,jdbcType=INTEGER}, #{menuStatus,jdbcType=INTEGER}, 
      #{menuSort,jdbcType=INTEGER}, #{menuName,jdbcType=CHAR}, #{menuIconUrl,jdbcType=CHAR}, 
      #{menuUrl,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuSuperId != null">
        menu_super_id,
      </if>
      <if test="menuStatus != null">
        menu_status,
      </if>
      <if test="menuSort != null">
        menu_sort,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuIconUrl != null">
        menu_icon_url,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuSuperId != null">
        #{menuSuperId,jdbcType=INTEGER},
      </if>
      <if test="menuStatus != null">
        #{menuStatus,jdbcType=INTEGER},
      </if>
      <if test="menuSort != null">
        #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=CHAR},
      </if>
      <if test="menuIconUrl != null">
        #{menuIconUrl,jdbcType=CHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.SysMenu">
    update sys_menu
    <set>
      <if test="menuSuperId != null">
        menu_super_id = #{menuSuperId,jdbcType=INTEGER},
      </if>
      <if test="menuStatus != null">
        menu_status = #{menuStatus,jdbcType=INTEGER},
      </if>
      <if test="menuSort != null">
        menu_sort = #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=CHAR},
      </if>
      <if test="menuIconUrl != null">
        menu_icon_url = #{menuIconUrl,jdbcType=CHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unit.domain.SysMenu">
    update sys_menu
    set menu_super_id = #{menuSuperId,jdbcType=INTEGER},
      menu_status = #{menuStatus,jdbcType=INTEGER},
      menu_sort = #{menuSort,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=CHAR},
      menu_icon_url = #{menuIconUrl,jdbcType=CHAR},
      menu_url = #{menuUrl,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>