<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unit.dao.SysFeeInfoMapper">
  <resultMap id="BaseResultMap" type="com.unit.domain.SysFeeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="INTEGER" property="money" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.unit.domain.SysFeeInfo">
    <result column="notes" jdbcType="LONGVARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    id, money
  </sql>
  <sql id="Blob_Column_List">
    notes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_fee_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_fee_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unit.domain.SysFeeInfo">
    insert into sys_fee_info (id, money, notes
      )
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, #{notes,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysFeeInfo">
    insert into sys_fee_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="notes != null">
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.SysFeeInfo">
    update sys_fee_info
    <set>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.unit.domain.SysFeeInfo">
    update sys_fee_info
    set money = #{money,jdbcType=INTEGER},
      notes = #{notes,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unit.domain.SysFeeInfo">
    update sys_fee_info
    set money = #{money,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>