<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unit.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.unit.domain.SysRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="CHAR" property="roleName" />
    <result column="role_desc" jdbcType="CHAR" property="roleDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, role_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unit.domain.SysRole">
    insert into sys_role (id, role_name, role_desc
      )
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=CHAR}, #{roleDesc,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDesc != null">
        role_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=CHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=CHAR},
      </if>
      <if test="roleDesc != null">
        role_desc = #{roleDesc,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unit.domain.SysRole">
    update sys_role
    set role_name = #{roleName,jdbcType=CHAR},
      role_desc = #{roleDesc,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>