<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unit.dao.SysRoleFeeMapper">
  <resultMap id="BaseResultMap" type="com.unit.domain.SysRoleFee">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="fee_id" jdbcType="INTEGER" property="feeId" />
  </resultMap>
  <insert id="insert" parameterType="com.unit.domain.SysRoleFee">
    insert into sys_role_fee (id, role_id, fee_id
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{feeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysRoleFee">
    insert into sys_role_fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="feeId != null">
        fee_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="feeId != null">
        #{feeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.unit.domain.SysRoleFee">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="fee_id" jdbcType="INTEGER" property="feeId" />
  </resultMap>
  <insert id="insert" parameterType="com.unit.domain.SysRoleFee">
    insert into sys_role_fee (id, role_id, fee_id
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{feeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysRoleFee">
    insert into sys_role_fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="feeId != null">
        fee_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="feeId != null">
        #{feeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.unit.domain.sysRoleFee">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="fee_id" jdbcType="INTEGER" property="feeId" />
  </resultMap>
  <insert id="insert" parameterType="com.unit.domain.sysRoleFee">
    insert into sys_role_fee (id, role_id, fee_id
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{feeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.sysRoleFee">
    insert into sys_role_fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="feeId != null">
        fee_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="feeId != null">
        #{feeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>