<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unit.dao.SysUsersMapper">
  <resultMap id="BaseResultMap" type="com.unit.domain.SysUsers">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="contract_no" jdbcType="BIGINT" property="contractNo" />
    <result column="user_name" jdbcType="CHAR" property="userName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="login_no" jdbcType="CHAR" property="loginNo" />
    <result column="pass_word" jdbcType="CHAR" property="passWord" />
    <result column="id_iccid" jdbcType="CHAR" property="idIccid" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="phone_no" jdbcType="CHAR" property="phoneNo" />
    <result column="user_satus" jdbcType="INTEGER" property="userSatus" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="register_type" jdbcType="INTEGER" property="registerType" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_no, user_name, sex, login_no, pass_word, id_iccid, dept_id, phone_no, 
    user_satus, register_time, register_type, role_id, last_login_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.unit.domain.SysUsers">
    insert into sys_users (id, contract_no, user_name, 
      sex, login_no, pass_word, id_iccid, 
      dept_id, phone_no, user_satus, 
      register_time, register_type, role_id, 
      last_login_time)
    values (#{id,jdbcType=BIGINT}, #{contractNo,jdbcType=BIGINT}, #{userName,jdbcType=CHAR}, 
      #{sex,jdbcType=INTEGER}, #{loginNo,jdbcType=CHAR}, #{passWord,jdbcType=CHAR}, #{idIccid,jdbcType=CHAR}, 
      #{deptId,jdbcType=INTEGER}, #{phoneNo,jdbcType=CHAR}, #{userSatus,jdbcType=INTEGER}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{registerType,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{lastLoginTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysUsers">
    insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractNo != null">
        contract_no,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="loginNo != null">
        login_no,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="idIccid != null">
        id_iccid,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="userSatus != null">
        user_satus,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="registerType != null">
        register_type,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginNo != null">
        #{loginNo,jdbcType=CHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=CHAR},
      </if>
      <if test="idIccid != null">
        #{idIccid,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=CHAR},
      </if>
      <if test="userSatus != null">
        #{userSatus,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerType != null">
        #{registerType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.SysUsers">
    update sys_users
    <set>
      <if test="contractNo != null">
        contract_no = #{contractNo,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginNo != null">
        login_no = #{loginNo,jdbcType=CHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=CHAR},
      </if>
      <if test="idIccid != null">
        id_iccid = #{idIccid,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=CHAR},
      </if>
      <if test="userSatus != null">
        user_satus = #{userSatus,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerType != null">
        register_type = #{registerType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unit.domain.SysUsers">
    update sys_users
    set contract_no = #{contractNo,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=CHAR},
      sex = #{sex,jdbcType=INTEGER},
      login_no = #{loginNo,jdbcType=CHAR},
      pass_word = #{passWord,jdbcType=CHAR},
      id_iccid = #{idIccid,jdbcType=CHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      phone_no = #{phoneNo,jdbcType=CHAR},
      user_satus = #{userSatus,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      register_type = #{registerType,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.unit.domain.SysUsers">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="contract_no" jdbcType="BIGINT" property="contractNo" />
    <result column="user_name" jdbcType="CHAR" property="userName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="login_no" jdbcType="CHAR" property="loginNo" />
    <result column="pass_word" jdbcType="CHAR" property="passWord" />
    <result column="id_iccid" jdbcType="CHAR" property="idIccid" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="phone_no" jdbcType="CHAR" property="phoneNo" />
    <result column="user_satus" jdbcType="INTEGER" property="userSatus" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="register_type" jdbcType="INTEGER" property="registerType" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_no, user_name, sex, login_no, pass_word, id_iccid, dept_id, phone_no, 
    user_satus, register_time, register_type, role_id, last_login_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.unit.domain.SysUsers">
    insert into sys_users (id, contract_no, user_name, 
      sex, login_no, pass_word, id_iccid, 
      dept_id, phone_no, user_satus, 
      register_time, register_type, role_id, 
      last_login_time)
    values (#{id,jdbcType=BIGINT}, #{contractNo,jdbcType=BIGINT}, #{userName,jdbcType=CHAR}, 
      #{sex,jdbcType=INTEGER}, #{loginNo,jdbcType=CHAR}, #{passWord,jdbcType=CHAR}, #{idIccid,jdbcType=CHAR}, 
      #{deptId,jdbcType=INTEGER}, #{phoneNo,jdbcType=CHAR}, #{userSatus,jdbcType=INTEGER}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{registerType,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{lastLoginTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.SysUsers">
    insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractNo != null">
        contract_no,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="loginNo != null">
        login_no,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="idIccid != null">
        id_iccid,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="userSatus != null">
        user_satus,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="registerType != null">
        register_type,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginNo != null">
        #{loginNo,jdbcType=CHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=CHAR},
      </if>
      <if test="idIccid != null">
        #{idIccid,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=CHAR},
      </if>
      <if test="userSatus != null">
        #{userSatus,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerType != null">
        #{registerType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.SysUsers">
    update sys_users
    <set>
      <if test="contractNo != null">
        contract_no = #{contractNo,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginNo != null">
        login_no = #{loginNo,jdbcType=CHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=CHAR},
      </if>
      <if test="idIccid != null">
        id_iccid = #{idIccid,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=CHAR},
      </if>
      <if test="userSatus != null">
        user_satus = #{userSatus,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerType != null">
        register_type = #{registerType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unit.domain.SysUsers">
    update sys_users
    set contract_no = #{contractNo,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=CHAR},
      sex = #{sex,jdbcType=INTEGER},
      login_no = #{loginNo,jdbcType=CHAR},
      pass_word = #{passWord,jdbcType=CHAR},
      id_iccid = #{idIccid,jdbcType=CHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      phone_no = #{phoneNo,jdbcType=CHAR},
      user_satus = #{userSatus,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      register_type = #{registerType,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.unit.domain.sysUsers">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="contract_no" jdbcType="BIGINT" property="contractNo" />
    <result column="user_name" jdbcType="CHAR" property="userName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="login_no" jdbcType="CHAR" property="loginNo" />
    <result column="pass_word" jdbcType="CHAR" property="passWord" />
    <result column="id_iccid" jdbcType="CHAR" property="idIccid" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="phone_no" jdbcType="CHAR" property="phoneNo" />
    <result column="user_satus" jdbcType="INTEGER" property="userSatus" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="register_type" jdbcType="INTEGER" property="registerType" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_no, user_name, sex, login_no, pass_word, id_iccid, dept_id, phone_no, 
    user_satus, register_time, register_type, role_id, last_login_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.unit.domain.sysUsers">
    insert into sys_users (id, contract_no, user_name, 
      sex, login_no, pass_word, id_iccid, 
      dept_id, phone_no, user_satus, 
      register_time, register_type, role_id, 
      last_login_time)
    values (#{id,jdbcType=BIGINT}, #{contractNo,jdbcType=BIGINT}, #{userName,jdbcType=CHAR}, 
      #{sex,jdbcType=INTEGER}, #{loginNo,jdbcType=CHAR}, #{passWord,jdbcType=CHAR}, #{idIccid,jdbcType=CHAR}, 
      #{deptId,jdbcType=INTEGER}, #{phoneNo,jdbcType=CHAR}, #{userSatus,jdbcType=INTEGER}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{registerType,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{lastLoginTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.unit.domain.sysUsers">
    insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractNo != null">
        contract_no,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="loginNo != null">
        login_no,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="idIccid != null">
        id_iccid,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="userSatus != null">
        user_satus,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="registerType != null">
        register_type,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginNo != null">
        #{loginNo,jdbcType=CHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=CHAR},
      </if>
      <if test="idIccid != null">
        #{idIccid,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=CHAR},
      </if>
      <if test="userSatus != null">
        #{userSatus,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerType != null">
        #{registerType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.sysUsers">
    update sys_users
    <set>
      <if test="contractNo != null">
        contract_no = #{contractNo,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginNo != null">
        login_no = #{loginNo,jdbcType=CHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=CHAR},
      </if>
      <if test="idIccid != null">
        id_iccid = #{idIccid,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=CHAR},
      </if>
      <if test="userSatus != null">
        user_satus = #{userSatus,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerType != null">
        register_type = #{registerType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unit.domain.sysUsers">
    update sys_users
    set contract_no = #{contractNo,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=CHAR},
      sex = #{sex,jdbcType=INTEGER},
      login_no = #{loginNo,jdbcType=CHAR},
      pass_word = #{passWord,jdbcType=CHAR},
      id_iccid = #{idIccid,jdbcType=CHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      phone_no = #{phoneNo,jdbcType=CHAR},
      user_satus = #{userSatus,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      register_type = #{registerType,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>