<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unit.dao.SysUnicodeDictMapper">
    <resultMap id="BaseResultMap" type="com.unit.domain.SysUnicodeDict">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code_class" jdbcType="CHAR" property="codeClass"/>
        <result column="code_name" jdbcType="CHAR" property="codeName"/>
        <result column="code_desc" jdbcType="CHAR" property="codeDesc"/>
        <result column="code_value" jdbcType="INTEGER" property="codeValue"/>
        <result column="eff_date" jdbcType="TIMESTAMP" property="effDate"/>
        <result column="exp_date" jdbcType="TIMESTAMP" property="expDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, code_class, code_name, code_desc, code_value, eff_date, exp_date, create_time
  </sql>
    <select id="selectByCodeClassAndCodeName" parameterType="com.unit.domain.SysUnicodeDict" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_unicode_dict
        where code_class = #{codeClass,jdbcType=CHAR}
        and code_name=#{codeName,jdbcType=CHAR}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_unicode_dict
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_unicode_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.unit.domain.SysUnicodeDict">
    insert into sys_unicode_dict (id, code_class, code_name,
      code_desc, code_value, eff_date,
      exp_date, create_time)
    values (#{id,jdbcType=INTEGER}, #{codeClass,jdbcType=CHAR}, #{codeName,jdbcType=CHAR},
      #{codeDesc,jdbcType=CHAR}, #{codeValue,jdbcType=INTEGER}, #{effDate,jdbcType=TIMESTAMP},
      #{expDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.unit.domain.SysUnicodeDict">
        insert into sys_unicode_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="codeClass != null">
                code_class,
            </if>
            <if test="codeName != null">
                code_name,
            </if>
            <if test="codeDesc != null">
                code_desc,
            </if>
            <if test="codeValue != null">
                code_value,
            </if>
            <if test="effDate != null">
                eff_date,
            </if>
            <if test="expDate != null">
                exp_date,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="codeClass != null">
                #{codeClass,jdbcType=CHAR},
            </if>
            <if test="codeName != null">
                #{codeName,jdbcType=CHAR},
            </if>
            <if test="codeDesc != null">
                #{codeDesc,jdbcType=CHAR},
            </if>
            <if test="codeValue != null">
                #{codeValue,jdbcType=INTEGER},
            </if>
            <if test="effDate != null">
                #{effDate,jdbcType=TIMESTAMP},
            </if>
            <if test="expDate != null">
                #{expDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.unit.domain.SysUnicodeDict">
        update sys_unicode_dict
        <set>
            <if test="codeClass != null">
                code_class = #{codeClass,jdbcType=CHAR},
            </if>
            <if test="codeName != null">
                code_name = #{codeName,jdbcType=CHAR},
            </if>
            <if test="codeDesc != null">
                code_desc = #{codeDesc,jdbcType=CHAR},
            </if>
            <if test="codeValue != null">
                code_value = #{codeValue,jdbcType=INTEGER},
            </if>
            <if test="effDate != null">
                eff_date = #{effDate,jdbcType=TIMESTAMP},
            </if>
            <if test="expDate != null">
                exp_date = #{expDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.unit.domain.SysUnicodeDict">
    update sys_unicode_dict
    set code_class = #{codeClass,jdbcType=CHAR},
      code_name = #{codeName,jdbcType=CHAR},
      code_desc = #{codeDesc,jdbcType=CHAR},
      code_value = #{codeValue,jdbcType=INTEGER},
      eff_date = #{effDate,jdbcType=TIMESTAMP},
      exp_date = #{expDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>