<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unit.dao.SysUsersMapper">
    <resultMap id="BaseResultMap" type="com.unit.domain.SysUsers">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="contract_no" jdbcType="BIGINT" property="contractNo"/>
        <result column="user_name" jdbcType="CHAR" property="userName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="login_no" jdbcType="CHAR" property="loginNo"/>
        <result column="pass_word" jdbcType="CHAR" property="passWord"/>
        <result column="id_iccid" jdbcType="CHAR" property="idIccid"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="phone_no" jdbcType="CHAR" property="phoneNo"/>
        <result column="dept_name" jdbcType="CHAR" property="deptName"/>
        <result column="role_name" jdbcType="CHAR" property="roleName"/>
        <result column="system_fee" jdbcType="CHAR" property="systemFee"/>
        <result column="user_fee" jdbcType="CHAR" property="userFee"/>
        <result column="total_fee" jdbcType="CHAR" property="totalFee"/>
        <result column="user_satus" jdbcType="INTEGER" property="userSatus"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="register_type" jdbcType="INTEGER" property="registerType"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
    </resultMap>
    <resultMap id="MenuResultMap" type="com.unit.domain.SysMenu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="menu_super_id" jdbcType="INTEGER" property="menuSuperId"/>
        <result column="menu_status" jdbcType="INTEGER" property="menuStatus"/>
        <result column="menu_sort" jdbcType="INTEGER" property="menuSort"/>
        <result column="menu_name" jdbcType="CHAR" property="menuName"/>
        <result column="menu_icon_url" jdbcType="CHAR" property="menuIconUrl"/>
        <result column="menu_url" jdbcType="CHAR" property="menuUrl"/>
        <result column="count_childrens" jdbcType="CHAR" property="countChildrens"/>
    </resultMap>
    <select id="getUserByName" parameterType="string" resultMap="BaseResultMap">
      select * from sys_users where user_name = #{userName} AND user_satus='0'
    </select>
    <select id="getMenuByUserId" resultMap="MenuResultMap">
        SELECT
        m.id,m.menu_super_id,m.menu_status,m.menu_sort,m.menu_name,m.menu_icon_url,m.menu_url,
        (select count(1) from sys_menu s where s.menu_super_id !=0 and s.menu_super_id=m.id) as count_childrens
        FROM
        sys_menu m
        LEFT JOIN sys_action a ON a.menu_id = m.id
        LEFT JOIN sys_role_action ra ON ra.action_id = a.id
        LEFT JOIN sys_role r ON r.id = ra.role_id
        LEFT JOIN sys_user_role ur ON ur.role_id = r.id
        LEFT JOIN sys_users u ON u.id = ur.user_id
        WHERE u.id=#{id}
        AND m.menu_status =#{menuStatus}
        <if test="menuSuperId !=null ">
            AND m.menu_super_id = #{menuSuperId}
        </if>
    </select>

    <select id="getChildrenMenu" resultType="com.unit.domain.SysMenu">
        select m.menu_no,m.menu_name,m.parent_no,m.icon_class,m.menu_url,
        (select count(1) from s_menu s where s.parent_no !=0 and s.parent_no=m.menu_no) as countChildrens
        from s_menu m
        left join s_role_menu rm on m.menu_no=rm.menu_no
        left join s_role r on rm.role_id=r.id
        left join s_user_role ur on r.id=ur.role_id
        left join s_user u on ur.user_id=u.id
        where m.is_disenable=0 and u.id=#{userId} and m.parent_no=#{pid} and m.menu_no not in
        (select tt.menu_no from (select m.menu_no,(select count(parent_no) from s_menu sp
        where sp.is_disenable=0 and sp.parent_no=m.menu_no and m.parent_no=0)
        countch from s_menu m where m.parent_no=0) tt where countch=0)
    </select>

    <!-- 查询用户信息 -->
    <select id="getUserList" resultMap="BaseResultMap">
       SELECT
        u.id,
        u.sex,
        u.id_iccid,
        u.contract_no,
        u.user_name,
        u.login_no,
        u.phone_no,
        u.register_time,
        d.dept_name AS dept_name,
        r.role_name,
        c.system_fee+c.user_fee AS total_fee,
        c.system_fee,
        c.user_fee
    FROM
        sys_users u
    LEFT JOIN sys_user_role ur ON u.id = ur.user_id
    LEFT JOIN sys_contract_info c ON u.contract_no = c.id
    LEFT JOIN sys_role r ON ur.role_id = r.id
    LEFT JOIN sys_dept d ON u.dept_id = d.id
    </select>
    <!--获取权限ID-->
    <select id="getRoleIdByUserId" resultType="int">
      select role_id from sys_user_role where user_id=#{userId}
    </select>
    <!--插入用户信息-->
    <insert id="insertSelective" parameterType="com.unit.domain.SysUsers">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into sys_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="contractNo != null">
                contract_no,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="loginNo != null">
                login_no,
            </if>
            <if test="passWord != null">
                pass_word,
            </if>
            <if test="idIccid != null">
                id_iccid,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="phoneNo != null">
                phone_no,
            </if>
            <if test="userSatus != null">
                user_satus,
            </if>
            <if test="registerTime != null">
                register_time,
            </if>
            <if test="registerType != null">
                register_type,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="contractNo != null">
                #{contractNo,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=CHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="loginNo != null">
                #{loginNo,jdbcType=CHAR},
            </if>
            <if test="passWord != null">
                #{passWord,jdbcType=CHAR},
            </if>
            <if test="idIccid != null">
                #{idIccid,jdbcType=CHAR},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=INTEGER},
            </if>
            <if test="phoneNo != null">
                #{phoneNo,jdbcType=CHAR},
            </if>
            <if test="userSatus != null">
                #{userSatus,jdbcType=INTEGER},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="registerType != null">
                #{registerType,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
         delete from sys_users
       where id = #{userId}
  </delete>

    <select id="searchUser" parameterType="com.unit.domain.SysUsers" resultMap="BaseResultMap">
        SELECT
        u.id,
        u.sex,
        u.id_iccid,
        u.contract_no,
        u.user_name,
        u.login_no,
        u.phone_no,
        u.register_time,
        d.dept_name AS dept_name,
        r.role_name,
        c.system_fee+c.user_fee AS total_fee,
        c.system_fee,
        c.user_fee
        FROM
        sys_users u
        LEFT JOIN sys_user_role ur ON u.id = ur.user_id
        LEFT JOIN sys_contract_info c ON u.contract_no = c.id
        LEFT JOIN sys_role r ON ur.role_id = r.id
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        WHERE 1=1
        <if test="roleId !=null ">
            AND u.role_id= #{roleId}
        </if>
        <if test="registerTime !=null ">
            AND register_time > str_to_date(#{registerTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="phoneNo !=null ">
            AND u.phone_no=#{phoneNo}
        </if>
    </select>
</mapper>